.navbar {
    background-color: #2C2B30;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.link {
    padding: 1%;
    margin: 1%;
    color: beige;
    font-size: 1.5 rem;
    text-decoration: none;
}